<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <label class="navbar-brand col-sm-3 col-md-2 mr-0">balabala</label>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <label class="nav-link">Sign out</label>
        </li>
    </ul>
</nav>

<main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<a class="btn btn-warning btn-block btn-lg" [routerLink]="['']" (click)="logout()">退出</a>
</main>